alembic==1.6.5
appdirs==1.4.4
black==21.6b0
click==8.0.1
flake8==3.9.2
Flask==2.0.1
Flask-Markdown==0.3
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.8.1
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pyflakes==2.3.1
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
regex==2021.7.6
six==1.16.0
SQLAlchemy==1.4.20
toml==0.10.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
