/* CSS reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #EDEBEB;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
    cursor: none;
}

.navbar-brand{
    font-size: 20pt;
    font-family: "Montserrat", serif;
    text-transform: lowercase;    
    text-align: left;
    margin: 0px;
}

.nav-link {
    font-size: 12pt;
    text-transform: lowercase;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.landing {
    background-color: #EDEBEB;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.profile {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile h1 {
    font-size: 30vh;
    font-weight: 700;
    line-height: 80%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
    text-transform: lowercase;
    text-align: left;
    font-family: "Montserrat", serif;
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-weight: 900;
}


section {
    justify-content: center;
}


/* CODE CREDIT: */


.shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #98ddca;
    overflow: hidden;
}

.shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
}

.shape.shape-1 {
    background: #98ddca;
    width: 650px;
    height: 650px;
    margin: -325px 0 0 -325px;
}

.shape.shape-2 {
    background: #d5ecc2;
    width: 440px;
    height: 440px;
    margin: -220px 0 0 -220px;
}

.shape.shape-3 {
    background: #ffd3b4;
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
}

.content {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #fff;
    mix-blend-mode: screen;
}
