p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

/* common classes */

.content {
    text-align: center;
}

.section-title {
    text-align: center;
    margin-top: 1rem;
    font-size: 3em;
}


.main-button {
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.7rem 2.5rem;
    border: none;
    appearance: none;
    user-select: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 116, 217);
}


/* landing section */
.landing {
    padding: 1em;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #d4e6ff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 1em auto;
    max-width: 1150px;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}

.about-container:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

.about-details {
    text-align: left;
}

.full-name {
    margin-bottom: 0;
    font-size: 3.5em;
}

.professional-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.5em;
}

@media only screen and (max-width: 768px){
    .about-details {
        text-align: center;
    }
}

/* projects section */
.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1150px;
    margin: 0 auto;
}

.project-container {
    margin: 0 2rem 2rem;
}

.project-container > h4, h5 {
    width: 100%;
    text-align: left;
    margin: 2px 0;
}

.project-container > h4 {
    font-size: 1.5em;
}

.project-container > h5 {
    font-size: 1em;
}

.project-details {
    position: relative;
}

.project-details:hover .project-overlay {
    opacity: 1;
    cursor: pointer;
  }

.project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.project-overlay-content {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 1em;
}

/* navbar section */
nav {
    float: left;
}

.nav_container {
    width: 80%;
    margin: 0 auto;
}

header {
  background: rgb(58, 58, 58);
}

header::after {
    content:'';
    display: table;
    clear: both;
}

.icon {
    float: right;
    margin: 10px;
    padding: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 27px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  position: relative;
}

nav ul > li > a {
  color: rgb(212, 212, 212);
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
    color: rgb(143, 143, 143);
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(143, 143, 143);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

/* experience section */

.timeline {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 1150px;
    margin: 0 auto 3rem;
}

.timeline-event {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.timeline-event-tools {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.timeline-event-content {
    text-align: left;
    padding: 20px;
}

.timeline-event-header {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.timeline-event-icon {
    border-radius: 8px 0 0 8px;
    background: #d4e6ff;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    font-size: 2rem;
    color: black;
    padding: 0 20px;
}

.timeline-event-icon .icon {
    position: absolute;
    top: 45%;
    left: -95px;
    font-size: 2.5rem;
    transform: translateY(-50%);
}

.timeline-event:after {
    content: "";
    width: 2px;
    height: 100%;
    background: rgb(0, 116, 217);
    position: absolute;
    top: 52%;
    left: -3.5rem;
    z-index: -1;
}

.timeline-event:before {
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    background: rgb(104, 167, 237);
    border-radius: 100%;
    left: -6rem;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid rgb(0, 116, 217);
}

.timeline-event:last-child:after {
    content: none;
}

@media (max-width: 786px) {

    .timeline {
        width: 80vw;
    }
    .timeline-event-header {
        flex-direction: column;
        justify-content: center;
    }

    .timeline-event-header > p {
        margin: 10px auto 10px;
    }

    .timeline-event-icon {
        border-radius: 4px 4px 0 0;
    }

    .timeline-event-icon .icon {
        display: none;
    }

    .timeline-event:before, .timeline-event:after {
        display: none;
    }
}

/* form section */

.form-container {
    display: block;
    margin: 2rem auto;
    text-align: center;
    max-width: 1150px;
    padding: 40px;
}
.form-container > form > label {
    font-size: 1.5em;
    text-align: left;
}
.form-container > form > label,  .form-container > form > button{
    display: block;
    margin: 0 auto;
}

.form-container > form > input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

/* blog section */

.posts-container {
    display: block;
    max-width: 1150px;
    margin: 2rem auto 5rem;
}


.post-body {
    text-align: left;
    width: 50vw;
    padding-bottom: 2px;
    margin: 0 auto;
}

.post-head {
    font-weight: 600;
    text-align: left;
    width: 50vw;
    margin: auto;
}

.post-head:hover {
    cursor: pointer;
}

.post-title, .post-date {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.post-date {
    font-size: 1.1rem;
    margin-top: 0;
}

.add-post-button {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
}

@media (max-width: 1200px) {
    .post-body, .post-head {
        width: 80vw;
    }
}