<!-- Display all existing posts -->
{% include "header.html" %}

<body>
  {% include "navbar.html" %}

  <div class="content">
    <button 
    onclick="window.location.href='{{url}}add-blog-post'"
      class="main-button add-post-button"
    >
      New Post
    </button>
    <h2 class="section-title">Blog Posts</h2>
    <div class="posts-container">
      {% for post in posts %}
        <div class="post-head">
          <p class="post-title">{{post.title}}</p>
          <p class="post-date">{{post.date.month}} - {{post.date.year}}</p>
        </div>
        <div class="post-body">
          <p>{{post.content}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>