{% extends "layout.html" %}
{% block header %}{{ data["name"] }}{% endblock %}
{% block name %}{{ data["name"] }}{% endblock %}
{% block title %}{{ data["title"] }}{% endblock %}
{% block about %}{{ data["about"] }}{% endblock %}

{% block education %}
<h4>Education</h4>
<text>
{{ data["education"]["degree"] }} <br />
{{ data["education"]["school"] }} <br />
{{ data["education"]["date"] }}
</text>
{% endblock %}

{% block skills %}
<h4>Skills</h4>
<ul class="no-bullets">
    {% for skill in data["skills"] %}
    <li>{{ skill }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block main %}
<h3>{{ main }}</h3>
{% for datum in data[main] %}
<div class="row">
    <div class="column">
	<text><b>{{ datum["name"] }}</b></text>
    <br>
	<text><i>{{ datum["date"] }}</i></text>
    <br>
	<text>{{ datum["details"] }}</text>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block side1 %}
<h4><a href="/{{ side1 }}">{{ side1 }}</a></h4>
{% for datum in data[side1] %}
<text>
    {{ datum["name"] }}<br />
    {{ datum["date"] }}<br />
</text>

{% endfor %}
{% endblock %}

{% block side2 %}
<h4><a href="/{{ side2 }}">{{ side2 }}</a></h4>
{% for datum in data[side2] %}
<text>
    {{ datum["name"] }}<br />
    {{ datum["date"] }}<br />
</text>
{% endfor %}
{% endblock %}
