<div class="experience">
  <a name="experience"></a>
  <h2 class="section-title">Experience</h2>
  <div class="timeline">
    <div class="timeline-event">
      <div class="timeline-event-icon ">
        <div class="icon">💼</div>
        <div class="timeline-event-header">
          <p class="work-title">Frycook @ Krusty Krab </p>
          <p class="work-date">Jun, 2019 - Present</p>
        </div>
      </div>
      <div class="timeline-event-content ">
        <div class="timeline-event-tools">
          JavaScript, HTML, CSS
        </div>
        <div class="timeline-event-description">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
        </div>
      </div>
    </div>
    <div class="timeline-event">
      <div class="timeline-event-icon">
        <div class="icon">💼</div>
        <div class="timeline-event-header">
          <p class="work-title">Frycook @ Krusty Krab </p>
          <p class="work-date">Jun, 2019 - Present</p>
        </div>
      </div>
      <div class="timeline-event-content">
        <div class="timeline-event-tools">
          JavaScript, HTML, CSS
        </div>
        <div class="timeline-event-description">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
        </div>
      </div>
    </div>
  </div>
</div>