<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="/static/styles/main.css" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <header>
    <a href="#">Contact</a>
    <a href="#">Resume</a>
  </header>
  <body>
    <div class="profile">
      <div class="row">
        <div class="column">
          <h2>Hi! I am</h2>
          <h1>Lavina Stella Harper</h1>
          <h4>Web Developer</h4>
          <text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            malesuada, velit eget dictum gravida, quam neque ultricies massa,
            eget dignissim tortor libero vel tortor.
          </text>
        </div>
        <div class="column">
          <img
            src="/static/img/profile-pic.png"
            style="width: 275px; height: 225px"
          />
        </div>
      </div>
    </div>
    <div class="technical-side">
      <h4>Skills</h4>
      <ul class="no-bullets">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Bootstrap</li>
      </ul>
      <h3>Projects</h3>
      <div class="row">
        <div class="column">
          <img
            src="/static/img/project1.jpg"
            style="width: 150px; height: 100px"
          />
        </div>
        <div class="column">
          <h5>Web Design</h5>
          <text
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </text>
          <button type="button" onclick="alert('Hello world!')">Details</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img
            src="/static/img/project2.jpg"
            style="width: 150px; height: 100px"
          />
        </div>
        <div class="column">
          <h5>Bright Idea</h5>
          <text
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </text>
          <button type="button" onclick="alert('Hello world!')">Details</button>
        </div>
      </div>
    </div>
    <div>
      <h4>Education</h4>
      <text
        >B.S. Computer Science <br />
        University of The People <br />
        2016-2020</text
      >
      <h4>Experience</h4>
      <text
        >Front-End Web Development <br />
        Figma <br />
        2020 - Present</text
      >
      <h4>Accomplishments</h4>
      <text
        >Whatever it is <br />
        date <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </text>
    </div>

    <!--<header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="/static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="/static/img/logo.jpg" />
      </div>
      <h1>{% block body_title %}{% endblock %}</h1>
      <p>{% block content %}{% endblock %}</p>
      <p>
        <a href="/">home</a> | <a href="/experience">experience</a> |
        <a href="/projects">projects</a> |
        <a href="/accomplishments">accomplishments</a> |
        <a href="/skills">skills</a>
      </p>
    </div>-->
  </body>
</html>
