<header class="nav-bar">
  <div class="nav-content">
    <a href="https://twitter.com/SpongeBob?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/40px/twitter.png" class="icon"></a>
    <a href="https://github.com/SpongeBob"><img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/40px/github.png" class="icon"></a>
    <a href="https://www.linkedin.com/company/nickanimation/"><img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/40px/linkedin.png" class="icon"></a>
    <a href="mailto:s_squarepants@live.ca"><img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/40px/mail.png" class="icon"></a>

    <nav>
        <ul>
            <li><a href="{{ url }}#about">About</a></li>
            <li><a href="{{ url }}#projects">Projects</a></li>
            <li><a href="{{ url }}#experience">Experience</a></li>
            <li><a href="{{ url }}#contact">Contact</a></li>
        </ul>
    </nav>
  </div>
</header>