<div>
  <h3>Projects</h2>
  <div class="project-grid">
    <div class="project-container">
      <h4>Project Name</h4>
      <img 
        src="https://via.placeholder.com/300.png/09f/fff"
      />
    </div>

    <div class="project-container">
      <h4>Project Name</h4>
      <img 
        src="https://via.placeholder.com/300.png/09f/fff"
      />
    </div>

    <div class="project-container">
      <h4>Project Name</h4>
      <img 
        src="https://via.placeholder.com/300.png/09f/fff"
      />
    </div>

    <div class="project-container">
      <h4>Project Name</h4>
      <img 
        src="https://via.placeholder.com/300.png/09f/fff"
      />
    </div>

    <div class="project-container">
      <h4>Project Name</h4>
      <img 
        src="https://via.placeholder.com/300.png/09f/fff"
      />
    </div>
    
  </div>
</div>