<div>
  <h3>Projects</h2>
  <div class="project-grid">
    <div class="project-container">
      <h4>Project Name</h4>
      <h5>Technologies</h5>
      <div class="project-details">
        <img 
          src="https://via.placeholder.com/300.png/09f/fff"
        />
        <div class="project-overlay">
          <div class="project-overlay-content">
            <p>
              Project Description
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-container">
      <h4>Project Name</h4>
      <h5>Technologies</h5>
      <div class="project-details">
        <img 
          src="https://via.placeholder.com/300.png/09f/fff"
        />
        <div class="project-overlay">
          <div class="project-overlay-content">
            <p>
              Project Description
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-container">
      <h4>Project Name</h4>
      <h5>Technologies</h5>
      <div class="project-details">
        <img 
          src="https://via.placeholder.com/300.png/09f/fff"
        />
        <div class="project-overlay">
          <div class="project-overlay-content">
            <p>
              Project Description
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>