<div class="projects">
  <h3 class="projects-section-title">Projects</h2>
  <div class="project-grid">
    <div class="project-container">
      <h4>Portfolio</h4>
      <h5>JavaScript - HTML - CSS - Flask</h5>
      <div class="project-details">
        <img 
          src="https://via.placeholder.com/300.png/09f/fff"
        />
        <div class="project-overlay">
          <div class="project-overlay-content">
            <h5>Description</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia euismod libero at congue. In in dictum metus. Aenean posuere mauris sed pulvinar facilisis. Fusce auctor diam et justo semper auctor. Donec tempus congue risus ac bibendum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-container">
      <h4>Project Name</h4>
      <h5>Technologies</h5>
      <div class="project-details">
        <img 
          src="https://via.placeholder.com/300.png/09f/fff"
        />
        <div class="project-overlay">
          <div class="project-overlay-content">
            <h5>Description</h5>
            <p>
              Project Description
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-container">
      <h4>Project Name</h4>
      <h5>Technologies</h5>
      <div class="project-details">
        <img 
          src="https://via.placeholder.com/300.png/09f/fff"
        />
        <div class="project-overlay">
          <div class="project-overlay-content">
            <p>
              Project Description
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>